.input {
    outline: none;
    border: aqua solid 2px;
}

.superInput {
    color: lightblue;
    background: green;

}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}